<center>
	<h1>Who doesn't love random cats images?</h1>
	<a href="/cats" id="cat-image-button" class="btn btn-primary" value="submit" name="reload">More Cats</a><br><br>
	
	<div id="the-cat-image">
		<img src="<%= @cat.format["response"]["data"]["images"]["image"]["url"] %>">
	</div>
</center>