<h1>Welcome to the home page</h1>
<% if !current_user %>
	<p>Im sorry you must log in to see these wishes</p>
<% else %>
	<div class="container">
	  <div class="row">
	    <div class="col-sm-4">
	    	<% @wishes.each do |wish| %>
	    		<% if wish.private == false %>
	    			<a href="/wishes/<%= wish.id%>"><%= wish.title%></a>
	    		<% end %>
	    	<% end %>
	    </div>
	  </div>
	</div>
<% end %>